@page "/"

<PageTitle>Habit history conversion tools</PageTitle>

<h1>Habit history conversion tools</h1>

<p>I am a long time <a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a> user. Recently I have decided to switch from Android phones to an iPhone, but I could not find good alternatives for habit-tracking. It turns out that the good folks at Loop have already expressed a desire to create an iOS version, but it's still in the oven, possibly for a long time.</p>

<p>As an interim solution I decided to try another app from the iOS app store. It's called <a href="https://apps.apple.com/us/app/habit-tracker-your-goals/id1471303896">Habit Tracker - Your Goals</a> and it resembles Loop closely. Unfortunately, it is not open source and is ad-supported, but I can live with it for the time being.</p>

<p>I didn't want to lose my data, so I made this little utility to convert data from Loop to the iOS counterpart, and back from iOS to Loop (hopefully Loop will become available for iOS or I'll return back to Android).</p>